<div class="center-container">
  <div class="form">
    <h2>Editar usuário</h2>
    <%= render "form", user: @user %>
    <br>

    <div>
      <%= link_to "Detalhes", @user , class:"link"%> |
      <%= link_to "<< Voltar para lista", users_path, class:"link" %>
    </div>
  </div>
</div>
