.btn-flat {
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  background: #670BFF;
  transition: background 0.3s ease;
  height: 25px;
  border-width: 0 ;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
