/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("components/search.scss");
 @import url("components/button.scss");
 @import url("components/user_card.scss");
 @import url("components/card_grid.scss");
 @import url("components/navbar.scss");
 @import url("components/form.scss");
 @import url("components/container.scss");
 @import url("pages/index.scss");
 @import url("components/link.scss");

 $primary: #670BFF;
 $danger: #DC3545;

 $theme-colors: (
  "primary": $primary,
  "danger": $danger
);

 @import "bootstrap";
